@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
      url('./fonts/PPNeueMontreal-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./fonts/PPNeueMontreal-SemiBolditalic.woff2') format('woff2'),
      url('./fonts/PPNeueMontreal-SemiBolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal Book';
  src: url('./fonts/PPNeueMontreal-Book.woff2') format('woff2'),
      url('./fonts/PPNeueMontreal-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./fonts/PPNeueMontreal-Italic.woff2') format('woff2'),
      url('./fonts/PPNeueMontreal-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
      url('./fonts/PPNeueMontreal-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('./fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
      url('./fonts/PPNeueMontreal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--darkest);
  font-family: 'PP Neue Montreal';
}

h1,h2,h3,h4 {
  color: var(--lightest);
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.light-text {
  color: var(--light)
}

p {
  color: var(--light);
  font-weight: normal;
}