:root {
  /* TODO: Global variables to go here */
  /* --darkest: #1F1F1F;
  --dark: #2A2A2A;
  --medium: #303030;
  --light: #9C9C9C; */

  --darkest: #0f121b;
  --dark: #1E2028;
  --medium: #34373D;
  --light: #80848d;
  --accent: #ff5a36;
  --accent-light: #E46D4A;

  --lightest: #FFFFFF;
  --success: #54B585;
  --warning: #E3A657;
  --danger: #FA4644;  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}