.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.dashboard-container aside {
  position: relative;
  padding: 1rem;
}

.dashboard-nav-container {
  position: sticky;
  top: 1rem;
  bottom: 1rem;
  height: calc(100vh - 2rem);
  width: 100%;
  background-color: var(--dark);
  border-radius: 0.25rem;
  padding: 2rem 2rem 2rem 0;
  border: 1px solid rgba(255,255,255, 0.1);
}

.logo-container {
  padding-bottom: 1rem;
  padding-left: 2rem;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.logo {
  width: 100px;
}

.dashboard-main-nav {
  padding: 2rem;
  padding-left: 1.5rem;
  padding-right: 0;
}

.dashboard-main-nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dashboard-main-nav ul li a.active {
  background-color: var(--medium);
  border: 1px solid rgba(255,255,255, 0.05);
  color: var(--lightest);
}

.dashboard-main-nav ul li a.active .nav-link__icon {
  background: linear-gradient(45deg, var(--accent-light) 0%, var(--accent) 100%);
}

.dashboard-main-nav__link {
  color: var(--light);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: 0.33rem;
}

.nav-link__icon {
  background-color: rgba(255,255,255,0.1);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.nav-link__icon svg path {
  stroke: var(--lightest)
}