.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.dashboard-container aside {
  position: relative;
  padding: 1rem;
}

.dashboard-nav-container {
  position: sticky;
  top: 0;
  height: calc(100vh - 2rem);
  width: 100%;
  background-color: var(--dark);
  border-radius: 0.25rem;
}