.bets-card {
  background-color: var(--dark);
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(255,255,255, 0.1);
  min-width: 60%;
}

.bets-card__fixture {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.bets-card__fixture img {
  height: 30px;
}